.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.loginCard {
  background-color: white;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 330px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo {
  height: 30px;
  width: 30px;
}
.form {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}
.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}
.formGroup {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.inputLabel {
  font-size: 0.7rem;
  color: #8b8e98;
  font-weight: 600;
  margin-bottom: 3px;
}
.inputField {
  width: auto;
  height: 27px;
  padding: 12px;
  font-size: 0.7rem;
  border-radius: 7px;
  outline: none;
  background-color: #ffffff;
  color: #242424;
  font-size: 0.8rem;
  border: 1px solid #e5e5e5;
}
.showPasswordCheckbox {
  padding: 10px;
  font-size: 0.8rem;
  color: #8b8e98;
  font-weight: 600;
}
.showPasswordLabel {
  padding: 5px;
  margin: 0;
  font-size: 0.7rem;
  color: #8b8e98;
  font-weight: 600;
}
.loginButton {
  width: 93%;
  margin: 0 auto;
  font-size: 0.9rem;
  border: 0;
  background: #115dfc;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.signupText {
  margin: 10px 0 0 0;
  font-size: 0.8rem;
  color: #8b8e98;
  text-align: center;
}
.signupLink {
  color: #115dfc;
}
